<div class="flex h-screen justify-center items-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
  <div class="flex p-7 bg-white rounded-md">
    <form [formGroup]="form" (ngSubmit)="onLogin()" class="flex flex-col justify-center items-center">
      <mat-form-field class="flex flex-col">
        <mat-label for="email">Email</mat-label>
        <input matInput formControlName="email" placeholder="spooderman@gmail.com" name="email" id="email" required class="flex-1">
        @if(form.get('email')?.hasError('required')){
          <mat-error>Email is required</mat-error>
        }@else if (form.get('email')?.hasError('email')) {
          <mat-error>Invalid email</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="flex flex-col">
        <mat-label for="password">Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="*******" name="password" id="password" required class="flex-1">
        @if(form.get('password')?.hasError('required')){
          <mat-error>Password is required</mat-error>
        }
      </mat-form-field>
      <div class="flex flex-row gap-4">
        <button mat-raised-button color="primary"  type="submit" [disabled]="">Login</button>
        <button mat-raised-button id="register" name="register"  [routerLink]="['/register']">Register</button>
      </div>
     </form>
  </div>
</div>
